<!DOCTYPE html>

<html lang="ja">
<head>
<meta charset="UTF-8">
<title>むさしふと</title>
<style type="text/css">
  #id_days, #id_days_late {
    width: 500px;
    height: 50px;
  }
  button {
    width: 100px;
    height: 50px;
  }
</style>
</head>
<body>
<h2>"{{ name }}"</h2>さんようこそ
<table  border="1" style="border-collapse: collapse">

<br>
<p><font size="5">入れる日にちを下の枠に<br>
（例）1.2.3.10.11.13.25.26<br>
    の様に半角数字を. または ,で区切って記入して下さい。</font></p>

<form method="post">{% csrf_token %}
{{ form.as_p }}
<button type="submit">送信</button>
</form>
<p>{{ days }}</p>
<p>{{ days_late }}</p>
<br>


<p>23日まで変更可能です。</p>
<p>全員の登録状況は、よしこさんのページで確認できます。</p>
<button type="submit"><a href="../../logout/">ログアウト</a></button>

</body>
</html>